# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on: pull_request
  # Triggers the workflow on push or pull request events but only for the main branch
push:
    branches: [ main ]
pull_request:
    branches: [ main ]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [ubuntu-latest, macos-latest, windows-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Greet the user
        run: echo Hello, **#**! Thanks for contrubuting to Jupyter Examples!

      # Runs a set of commands using the runners shell
      - name: Say Goodbye
        run: |
          echo Thank you.
          echo Bye!!
